In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
import requests
from selenium.webdriver.common.keys import Keys
import pandas as pd
import re

## Treinando Scrapping

### Testando site

In [49]:
url = f'''https://veiculos.fipe.org.br/'''
response = requests.get(url)
if response.status_code == 200:
    print("Site funcionando normalmente!")
    soup = BeautifulSoup(response.text,"html.parser")
else:
    print("Site apresentou algum problema!\nTente mais tarde")

Site funcionando normalmente!

### Abrindo navegador

In [84]:
# driver = webdriver.Chrome(service = Service(ChromeDriverManager().install()))
# driver.get(url)
# driver.implicitly_wait(10)
# driver.maximize_window()

### Selecionando campos

In [67]:
#Tipo de Consulta: Consulta de carros e utilitários pequenos

campo_consulta = '/html/body/div[1]/section[2]/div[1]/div[2]/ul/li[1]/a'

tipo_consulta = driver.find_element('xpath', campo_consulta)
tipo_consulta.click()

In [55]:
#Mês referência

campo_mes_ano_referencia = '/html/body/div[1]/section[2]/div[1]/div[2]/ul/li[1]/div/article[1]/select'

# campo_mes_ano_referencia_teste = driver.find_element('xpath', campo_mes_ano_referencia)
# campo_mes_ano_referencia_teste.click()
# campo_mes_ano_referencia_teste.send_keys('janeiro/2018' + Keys.RETURN)

In [56]:
#Marca, Modelo, Ano e Pesquisar
marca_carro = 'GM - Chevrolet'
modelo_carro = 'ONIX HATCH Joy 1.0 8V Flex 5p Mec.'
ano_carro = '2018 Gasolina'

campo_marca_carro = '/html/body/div[1]/section[2]/div[1]/div[2]/ul/li[1]/div/article[1]/div[2]/div[1]/div/select'
campo_modelo_carro = '/html/body/div[1]/section[2]/div[1]/div[2]/ul/li[1]/div/article[1]/div[2]/div[2]/div[1]/select'
campo_ano_carro = '/html/body/div[1]/section[2]/div[1]/div[2]/ul/li[1]/div/article[1]/div[2]/div[2]/div[2]/select'
campo_pesquisar = '/html/body/div[1]/section[2]/div[1]/div[2]/ul/li[1]/div/article[1]/div[2]/div[3]/a'
campo_limpar = '/html/body/div[1]/section[2]/div[1]/div[2]/ul/li[1]/div/article[1]/div[2]/div[5]/a'

# campo_marca_carro = driver.find_element('xpath', campo_marca_carro)
# campo_marca_carro.click()
# campo_marca_carro.send_keys(marca_carro + Keys.RETURN)

# campo_modelo_carro = driver.find_element('xpath', campo_modelo_carro)
# campo_modelo_carro.click()
# campo_modelo_carro.send_keys(modelo_carro + Keys.RETURN)

# campo_ano_carro = driver.find_element('xpath', campo_ano_carro)
# campo_ano_carro.click()
# campo_ano_carro.send_keys(ano_carro + Keys.RETURN)

# campo_pesquisar = driver.find_element('xpath', campo_pesquisar)
# campo_pesquisar.click()

In [85]:
#Copiando tabela

campo_tabela = '/html/body/div[1]/section[2]/div[1]/div[2]/ul/li[1]/div/article[1]/div[2]/div[4]/table'

tabela = driver.find_element('xpath', campo_tabela)
html = tabela.get_attribute('innerHTML')
parser = BeautifulSoup(html, "html.parser")
tabela = parser.select_one('tbody')
# tabela

### Formatando tabela

#### Dados

In [104]:
regex_dados = re.compile('(<td><p>)(.*?)(</p></td>)')
dados = regex_dados.findall(str(tabela))
# dados

In [91]:
# loop para pegar apenas os resultados desejados

for i, dado in enumerate(dados):
    dados[i] = dado[1]
# dados

In [ ]:
def lista_dado(dados):
    for i, dado in enumerate(dados):
        dados[i] = dado[1]
    return dados

#### Título

In [193]:
# loop para pegar apenas os títulos desejados

regex_titulo= re.compile('(<td class="noborder"><p>)(.*?)(</p></td)')
titulo = regex_titulo.findall(str(tabela))
titulo = lista_dado(titulo)
# titulo

### Treinando para todos os períodos

In [57]:
referencia_ano = driver.find_element('xpath', campo_mes_ano_referencia)
referencia_ano.click()

In [58]:
html_referencia = referencia_ano.get_attribute('innerHTML')
re_anos = re.compile(r'(option value="(.*?)">)(.*?)( </option>)')
lista_periodos = re_anos.findall(str(html_referencia))
# lista_periodos[:3]

driver.quit()

In [60]:
periodos = []

for i, periodo in enumerate(lista_periodos):
    periodo = lista_periodos[i][2]
    mes, ano =  periodo.split('/')
    periodos.append({'periodo' : periodo, 'mes' : mes, 'ano' : ano})

# periodos

In [61]:
# loop para pegar mais modelos de marca e carro

marca_carro = ['GM - Chevrolet', 'Hyundai', 'Ford']
modelo_carro = ['ONIX HATCH Joy 1.0 8V Flex 5p Mec.', 'HB20 5 Anos 1.0 Flex 12V Mec.', 'Ka 1.0 S TiVCT Flex 5p']
ano_carro = '2018 Gasolina'

for i, marca in enumerate(marca_carro):
    marca = marca_carro[i]
    modelo = modelo_carro[i]

## Funções

In [62]:
import random
import time

def esperar(segundos = None):
    if not segundos:
        segundos = random.randrange(1,3)
    time.sleep(segundos)

def lista_dado(dados):
    for i, dado in enumerate(dados):
        dados[i] = dado[1]
    return dados

def preencher_campo(campo, item):
    campo_pesquisa = driver.find_element('xpath', campo)
    campo_pesquisa.click()
    campo_pesquisa.send_keys(item + Keys.RETURN)

def click_campo(campo):
    pesquisar = driver.find_element('xpath', campo)
    pesquisar.click()

## Jogando Scraping

### Características

In [30]:
#Hatch compacto

marca_carro = ['GM - Chevrolet', 'Hyundai', 'Ford']
modelo_carro = ['ONIX HATCH Joy 1.0 8V Flex 5p Mec.', 'HB20 5 Anos 1.0 Flex 12V Mec.', 'Ka 1.0 S TiVCT Flex 5p']
ano_carro = '2018 Gasolina'

In [63]:
#Hatch médio

marca_carro = ['GM - Chevrolet', 'Ford', 'Peugeot']
modelo_carro = ['CRUZE Sport LT 1.4 16V TV Flex 5p Aut.', 'Focus 1.6 S/SE/SE Plus Flex 8V/16V 5p', 'Ka 1.0 S TiVCT Flex 5p', '3008 Griffe 1.6 Turbo 16V 5p Aut.']
ano_carro = '2018 Gasolina'

In [136]:
#Monovolume e Perua

marca_carro = ['Honda', 'GM - Chevrolet', 'VW - VolksWagen']
modelo_carro = ['Fit DX 1.5 Flexone 16V 5p Mec.', 'SPIN LS 1.8 8V Econo.Flex 5p Mec.', 'SPACEFOX 1.6 Trendline Total Flex 8v 5p']
ano_carro = '2018 Gasolina'

In [143]:
# Sedã compacto

marca_carro = ['GM - Chevrolet', 'Ford', 'VW - VolksWagen']
modelo_carro = ['PRISMA Sed. Joy/ LS 1.0 8V FlexPower 4p', 'Ka+ Sedan 1.0 SEL TiCVT Flex 4p', 'VOYAGE Comfortline 1.0 T.Flex 12V 4p']
ano_carro = '2018 Gasolina'

In [148]:
# Sedã médio

marca_carro = ['Toyota', 'GM - Chevrolet', 'Nissan']
modelo_carro = ['Corolla GLi Upper 1.8 Flex 16V Aut.', 'CRUZE LT 1.4 16V Turbo Flex 4p Aut.', 'Sentra S 2.0 FlexStart 16V Aut.']
ano_carro = '2018 Gasolina'

In [153]:
# Sedã premium

marca_carro = ['Ford', 'BMW', 'Audi']
modelo_carro = ['Fusion SE 2.5 I-VCT Flex 16V Aut.', '320iA 2.0 TB M Sport A.Flex/M.Sport 4p', 'A3 Sed. Ambition 2.0 TSFI 220cv S-tronic']
ano_carro = '2018 Gasolina'

In [162]:
# Utilitário

marca_carro = ['Hyundai', 'Honda', 'Nissan']
modelo_carro = ['Creta Attitude 1.6 16V Flex Mec.', 'HR-V EX 1.8 Flexone 16V 5p Aut.', 'KICKS S 1.6 16V Flex 5p Aut.']
ano_carro = '2018 Gasolina'

In [171]:
# Utilitário premium

marca_carro = ['Jeep', 'Toyota', 'Hyundai']
modelo_carro = ['COMPASS LIMITED 2.0 4x2 Flex 16V Aut.', 'Hilux SW4 SR 4x2 2.7/ 2.7 Flex 16V Aut.', 'ix35 2.0 16V 2WD Flex Aut.']
ano_carro = '2018 Gasolina'

### Obtendo todos os períodos atuais

### Loop completo

In [172]:
driver = webdriver.Chrome(service = Service(ChromeDriverManager().install()))
driver.get(url)
driver.implicitly_wait(10)
# driver.maximize_window()


esperar()
tipo_consulta = driver.find_element('xpath', campo_consulta)
tipo_consulta.click()

lista_tabela = []

for i, marca in enumerate(marca_carro):
    marca = marca_carro[i]
    modelo = modelo_carro[i]
    for periodo in periodos:
        if int(periodo['ano']) >= 2018:
            periodo_referencia = periodo['periodo']
            esperar(4)
            preencher_campo(campo_mes_ano_referencia, periodo_referencia)
            esperar()
            preencher_campo(campo_marca_carro, marca)
            esperar()
            preencher_campo(campo_modelo_carro, modelo)
            esperar()
            preencher_campo(campo_ano_carro, ano_carro)
            esperar()
            click_campo(campo_pesquisar)
            esperar()

            tabela = driver.find_element('xpath', campo_tabela)
            html = tabela.get_attribute('innerHTML')
            parser = BeautifulSoup(html, "html.parser")
            tabela = parser.select_one('tbody')
            dados = regex_dados.findall(str(tabela))
            dados = lista_dado(dados)
            lista_tabela.append(dados)
            
            click_campo(campo_limpar)
            esperar()

driver.quit()

In [99]:
regex_titulo= re.compile('(<td class="noborder"><p>)(.*?)(</p>)')
titulo = regex_titulo.findall(str(tabela))
titulo = lista_dado(titulo)
# titulo

In [173]:
# df = pd.DataFrame(lista_tabela, columns = titulo)
# df_hatch_medio = pd.DataFrame(lista_tabela, columns = titulo)
# df_monovolume_perua = pd.DataFrame(lista_tabela, columns = titulo)
# df_seda_compacto = pd.DataFrame(lista_tabela, columns = titulo)
# df_seda_medio = pd.DataFrame(lista_tabela, columns = titulo)
# df_seda_premium = pd.DataFrame(lista_tabela, columns = titulo)
# df_utilitario = pd.DataFrame(lista_tabela, columns = titulo)
# df_utilitario_premium = pd.DataFrame(lista_tabela, columns = titulo)

In [174]:
# df_hatch_medio.head(5)
# df_monovolume_perua.head(5)
# df_seda_compacto.head(5)
# df_seda_medio.head(5)
# df_seda_premium.head(5)
# df_utilitario.head(5)
# df_utilitario_premium.head(5)

,Mês de referência:,Código Fipe:,Marca:,Modelo:,Ano Modelo:,Autenticação,Data da consulta,Preço Médio
0,novembro de 2023,017047-0,Jeep,COMPASS LIMITED 2.0 4x2 Flex 16V Aut.,2018 Gasolina,gg86s2wzbdc6r,"quinta-feira, 30 de novembro de 2023 18:13","R$ 109.992,00"
1,outubro de 2023,017047-0,Jeep,COMPASS LIMITED 2.0 4x2 Flex 16V Aut.,2018 Gasolina,gjs7tq2fl6c6r,"quinta-feira, 30 de novembro de 2023 18:13","R$ 111.286,00"
2,setembro de 2023,017047-0,Jeep,COMPASS LIMITED 2.0 4x2 Flex 16V Aut.,2018 Gasolina,gl63ybkc8cc6r,"quinta-feira, 30 de novembro de 2023 18:14","R$ 113.346,00"
3,agosto de 2023,017047-0,Jeep,COMPASS LIMITED 2.0 4x2 Flex 16V Aut.,2018 Gasolina,gmgm5pm104c6r,"quinta-feira, 30 de novembro de 2023 18:14","R$ 113.553,00"
4,julho de 2023,017047-0,Jeep,COMPASS LIMITED 2.0 4x2 Flex 16V Aut.,2018 Gasolina,gn9wth3fdzc6r,"quinta-feira, 30 de novembro de 2023 18:14","R$ 115.128,00"

In [175]:
# df.to_excel('db_hatch_compacto.xlsx')
# df_hatch_medio.to_excel('db_hatch_medio.xlsx')
# df_monovolume_perua.to_excel('db_monovolume_perua.xlsx')
# df_seda_compacto.to_excel('db_seda_compacto.xlsx')
# df_seda_medio.to_excel('db_seda_medio.xlsx')
# df_seda_premium.to_excel('db_seda_premium.xlsx')
# df_utilitario.to_excel('db_utilitario.xlsx')
# df_utilitario_premium.to_excel('db_utilitario_premium.xlsx')

## ETL

In [2]:
import os
from datetime import datetime
import locale

locale.setlocale(locale.LC_ALL, 'pt_BR')
formato = "%B/%Y"

In [4]:
os.chdir('C:/Users/jean_/dev/github/EDA/Documents/database')
diretorio_atual = os.getcwd()

df_hatch_compacto = pd.read_excel('db_hatch_compacto.xlsx')

In [5]:
df_hatch_compacto.head(5)

,Unnamed: 0,Mês de referência:,Código Fipe:,Marca:,Modelo:,Ano Modelo:,Autenticação,Data da consulta,Preço Médio
0,0,novembro de 2023,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,w8jp6nsm6c5h,"quarta-feira, 29 de novembro de 2023 22:49","R$ 47.438,00"
1,1,outubro de 2023,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,xb6ygqcznn5h,"quarta-feira, 29 de novembro de 2023 22:49","R$ 47.667,00"
2,2,setembro de 2023,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,xhbjcn3n7m5h,"quarta-feira, 29 de novembro de 2023 22:49","R$ 48.018,00"
3,3,agosto de 2023,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,xy89rwm1bs5h,"quarta-feira, 29 de novembro de 2023 22:50","R$ 49.294,00"
4,4,julho de 2023,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,x3tl04qc4d5h,"quarta-feira, 29 de novembro de 2023 22:50","R$ 49.680,00"

In [6]:
df_hatch_compacto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          213 non-null    int64
 1   Mês de referência:  213 non-null    object
 2   Código Fipe:        213 non-null    object
 3   Marca:              213 non-null    object
 4   Modelo:             213 non-null    object
 5   Ano Modelo:         213 non-null    object
 6   Autenticação        213 non-null    object
 7   Data da consulta    213 non-null    object
 8   Preço Médio         213 non-null    object
dtypes: int64(1), object(8)
memory usage: 15.1+ KB

In [7]:
df_hatch_compacto.drop(columns = ['Unnamed: 0'], inplace = True)

### Tratamento para coluna 'Mês de referência'

In [8]:
df_hatch_compacto['Mês de referência:'] = df_hatch_compacto['Mês de referência:'].str.replace(' de ', '/')
df_hatch_compacto['Mês de referência:'] = df_hatch_compacto['Mês de referência:'].str.replace(' ', '')
df_hatch_compacto['Mês de referência:'] = df_hatch_compacto['Mês de referência:'].apply(lambda x: datetime.strptime(x, formato))

### Tratamento para coluna 'Preço Médio'

In [9]:
df_hatch_compacto['Preço Médio'] = df_hatch_compacto['Preço Médio'].str.replace('R$', '')
df_hatch_compacto['Preço Médio'] = df_hatch_compacto['Preço Médio'].str.replace('.', '')
df_hatch_compacto['Preço Médio'] = df_hatch_compacto['Preço Médio'].str.replace(',', '.')
df_hatch_compacto['Preço Médio'] = df_hatch_compacto['Preço Médio'].astype(float)

In [10]:
def tratamento_FIPE(dataframe):
    dataframe['Preço Médio'] = dataframe['Preço Médio'].str.replace('R$', '')
    dataframe['Preço Médio'] = dataframe['Preço Médio'].str.replace('.', '')
    dataframe['Preço Médio'] = dataframe['Preço Médio'].str.replace(',', '.')
    dataframe['Preço Médio'] = dataframe['Preço Médio'].astype(float)

    dataframe['Mês de referência:'] = dataframe['Mês de referência:'].str.replace(' de ', '/')
    dataframe['Mês de referência:'] = dataframe['Mês de referência:'].str.replace(' ', '')
    dataframe['Mês de referência:'] = dataframe['Mês de referência:'].apply(lambda x: datetime.strptime(x, formato))

    dataframe.drop(columns = ['Unnamed: 0'], inplace = True)

In [11]:
df_hatch_compacto['Segmento'] = 'Hatch Compacto'

In [12]:
df_hatch_compacto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mês de referência:  213 non-null    datetime64[ns]
 1   Código Fipe:        213 non-null    object
 2   Marca:              213 non-null    object
 3   Modelo:             213 non-null    object
 4   Ano Modelo:         213 non-null    object
 5   Autenticação        213 non-null    object
 6   Data da consulta    213 non-null    object
 7   Preço Médio         213 non-null    float64
 8   Segmento            213 non-null    object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 15.1+ KB

In [13]:
df_hatch_compacto.head(3)

,Mês de referência:,Código Fipe:,Marca:,Modelo:,Ano Modelo:,Autenticação,Data da consulta,Preço Médio,Segmento
0,2023-11-01,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,w8jp6nsm6c5h,"quarta-feira, 29 de novembro de 2023 22:49",47438.0,Hatch Compacto
1,2023-10-01,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,xb6ygqcznn5h,"quarta-feira, 29 de novembro de 2023 22:49",47667.0,Hatch Compacto
2,2023-09-01,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,xhbjcn3n7m5h,"quarta-feira, 29 de novembro de 2023 22:49",48018.0,Hatch Compacto

In [14]:
df_hatch_medio = pd.read_excel('db_hatch_medio.xlsx')
df_monovolume_perua = pd.read_excel('db_monovolume_perua.xlsx')
df_seda_compacto = pd.read_excel('db_seda_compacto.xlsx')
df_seda_medio = pd.read_excel('db_seda_medio.xlsx')
df_seda_premium = pd.read_excel('db_seda_premium.xlsx')
df_utilitario_premium = pd.read_excel('db_utilitario_premium.xlsx')
df_utilitario = pd.read_excel('db_utilitario.xlsx')

In [15]:
tratamento_FIPE(df_hatch_medio)
tratamento_FIPE(df_monovolume_perua)
tratamento_FIPE(df_seda_compacto)
tratamento_FIPE(df_seda_medio)
tratamento_FIPE(df_seda_premium)
tratamento_FIPE(df_utilitario_premium)
tratamento_FIPE(df_utilitario)

In [16]:
df_hatch_medio['Segmento'] = 'Hatch Médio'
df_monovolume_perua['Segmento'] = 'Monovolume/Perua'
df_seda_compacto['Segmento'] = 'Sedã Compacto'
df_seda_medio['Segmento'] = 'Sedã Médio'
df_seda_premium['Segmento'] = 'Sedã Premium'
df_utilitario_premium['Segmento'] = 'Utilitário Premium'
df_utilitario['Segmento'] = 'Utilitário'

In [17]:
df_completo = pd.concat([df_hatch_compacto, df_hatch_medio], ignore_index = True)

In [18]:
df_completo = pd.concat([df_completo, df_monovolume_perua], ignore_index = True)
df_completo = pd.concat([df_completo, df_seda_compacto], ignore_index = True)
df_completo = pd.concat([df_completo, df_seda_medio], ignore_index = True)
df_completo = pd.concat([df_completo, df_seda_premium], ignore_index = True)
df_completo = pd.concat([df_completo, df_utilitario_premium], ignore_index = True)
df_completo = pd.concat([df_completo, df_utilitario], ignore_index = True)

In [19]:
df_completo.head(5)

,Mês de referência:,Código Fipe:,Marca:,Modelo:,Ano Modelo:,Autenticação,Data da consulta,Preço Médio,Segmento
0,2023-11-01,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,w8jp6nsm6c5h,"quarta-feira, 29 de novembro de 2023 22:49",47438.0,Hatch Compacto
1,2023-10-01,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,xb6ygqcznn5h,"quarta-feira, 29 de novembro de 2023 22:49",47667.0,Hatch Compacto
2,2023-09-01,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,xhbjcn3n7m5h,"quarta-feira, 29 de novembro de 2023 22:49",48018.0,Hatch Compacto
3,2023-08-01,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,xy89rwm1bs5h,"quarta-feira, 29 de novembro de 2023 22:50",49294.0,Hatch Compacto
4,2023-07-01,004473-3,GM - Chevrolet,ONIX HATCH Joy 1.0 8V Flex 5p Mec.,2018 Gasolina,x3tl04qc4d5h,"quarta-feira, 29 de novembro de 2023 22:50",49680.0,Hatch Compacto

In [20]:
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mês de referência:  1704 non-null   datetime64[ns]
 1   Código Fipe:        1704 non-null   object
 2   Marca:              1704 non-null   object
 3   Modelo:             1704 non-null   object
 4   Ano Modelo:         1704 non-null   object
 5   Autenticação        1704 non-null   object
 6   Data da consulta    1704 non-null   object
 7   Preço Médio         1704 non-null   float64
 8   Segmento            1704 non-null   object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 119.9+ KB

In [21]:
# df_completo.to_excel('db_FIPE_2018_2023.xlsx', sheet_name = 'FIPE_2018_2023', header = True)